body {
  display: flex;
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  margin: 300px;
  justify-content: center;
}
p {
  font-family: "Concert One", cursive;
  font-size: 1.5em;
}
