body {
  display: flex;
  justify-content: center;
  margin-top: 300px;
  background-color: #ff87ca;
}
#main {
  display: flex;
  height: 250px;
  width: 400px;
  flex-direction: column;
  background-color: #ffc4e1;
  margin: 10px;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Fira Sans", sans-serif;
  font-size: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 10px;
}
input {
  background-color: transparent;
  border-width: 0px;
  border: none;
  width: 100px;
  font-family: "Fira Sans", sans-serif;
  border-bottom: 1px solid black;
  font-size: 20px;
}
.no-outline:focus {
  outline: none;
}
#buttons {
  display: flex;
  gap: 10px;
}
button {
  background-color: #eaeaea;
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:not(:disabled):hover,
button:not(:disabled):focus {
  outline: 0;
  background: #eed7ce;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

button:disabled {
  filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}
