body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Josefin Sans", sans-serif;
}
.main {
  border-style: solid;
  border-width: 3px;
  padding: 10px;
  box-shadow: 7px 7px 15px #bbcfda, -4px -4px 13px #fff,
    inset 4px 4px 8px rgba(209, 217, 230, 0.2),
    inset -8px -8px 8px rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: #e8eff5;
}
.title {
  text-align: center;
}
.questions {
  display: flex;
  flex-direction: column;
  width: 500px;
  gap: 10px;
}
.question {
  border-style: solid;
  border-width: 3px;
  padding: 10px;
}
.quest {
  margin-top: 0;
}
