body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.main {
  border-style: solid;
  border-width: 3px;
  padding: 10px;
}
.questions {
  display: flex;
  flex-direction: column;
  width: 500px;
}
.question {
  border-style: solid;
  border-width: 3px;
}
